<div class="layout-wrapper layout-static">
  <div class="layout-topbar">
    <a href="#" class="layout-topbar-logo">
        <img src="/assets/7.jpg" style="width: 84px; height: auto;" alt="logo" />
      </a>
  </div>
  <div class="layout-sidebar">
    <div class="sidebar">
      <div class="menu">
        <ul class="layout-menu">
          <p-menu [style]="{width: '100%', border: 'none'}"
          [model]="items"></p-menu>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>