<div class="layout-wrapper layout-static">
  <div class="layout-topbar">
    <a href="#" class="layout-topbar-logo">
      <img src="https://img.freepik.com/premium-vector/colorful-letter-logo-design_93835-427.jpg?w=740" 
      style = "width: 84px; height: auto" alt="logo" />
      </a>
  </div>
  <div class="layout-sidebar">
    <div class="sidebar">
      <div class="manu">
        <ul class="layout-menu">
          <p-menu [style]="{width: '100%', border: 'none'}"
          [model]="items"></p-menu>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>